.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 50vh;
}

.btn {
  position: absolute;
  left: 0;
  top: -1.5rem;
}

.container {
  width: 68.75rem;
  margin: auto;
}